@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.Footer {
  overflow: hidden;
  margin-top: 50px;
  background-color: var(--primary);
  color: var(--secondary_text);
}
.logoItem {
  padding: 8vh 2vh;
}
