.login-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .mainConatiner {
    display: flex;
    flex-flow: row;
    width: 50%;
  }
  .register-form {
    padding: 25px;
    text-align: right;
    margin-top: 10%;
  }
  .login-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    box-shadow: 0px 0px 5px 3px #0000002b;
    border-radius: 10px;
  }
  .login-form .card {
    border: none !important;
  }
  .login-inner .card-header {
    border-radius: 10px 10px 0 0;
    background-color: var(--primary);
    color: var(--secondary_text);
    text-align: center;
  }
  .login-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 30px 60px var(--primary);
  }
  @media only screen and (max-width: 700px) {
    .mainConatiner{
        flex-direction: column;
    }
    .login-inner{
        width:50vw;
    }
    .register-form {
        margin-top: 40px;
        padding: 10px;
    }
  }
  @media only screen and (max-width: 400px) {
      .register-form {
        padding: 10px;
        margin-top: 40px;
    }
  }