.movie-inner-card {
  margin: 30px 30px 30px 30px;
}

.movie-outer-card {
  width: 20%;
}

.movie-inner-card a {
  text-decoration: none !important;
}

.movie-inner-card a:hover {
  text-decoration: none !important;
}

.movie-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  background-color: #141518;
  color: white;
  height: 70px;
}

.movie-inner-card img {
  width: 100%;
  height: 350px;
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 1200px) {
  .movie-inner-card {
    margin: 20px;
  }
  .movie-card-text {
    font-size: 10px;
  }
  .movie-outer-card {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .movie-inner-card img {
    height: 250px;
  }
}

@media screen and (max-width: 650px) {
  .movie-inner-card {
    margin: 15px;
  }
  .movie-card-text {
    font-size: 10px;
  }
  .movie-outer-card {
    width: 50%;
  }
}
