.card-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px #d5d2d29c;
}

.person-data {
  margin: 3vw auto;
  width: 80vw;
  /* padding: 3vw; */
}

.person-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .card-image img {
    margin-top: 30px;
  }
  .person-text {
    margin-top: 30px;
    align-items: center;
  }
  .person-text h1 {
    font-size: 25px;
  }
}
