.movie-detail {
  height: 400px;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(228, 68, 10, 0.315);
  background-position: 50% 20%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}
.movie-detail .overlay {
  background-color: #010101c9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
